{{define "index"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Library</title>
		<link rel="stylesheet" href="/static/css/main.css">
	</head>

	<body>
		<header>
			<span id="logo">Library</span>
			<button>
				<img src="/static/img/add.svg">
				<span>New Book</span>
			</button>
		</header>

		<dialog class="addBook">
			<button id="closeBtn"><img src="/static/img/close.svg" alt="close"></button>
            {{template "form" .}}
		</dialog>

        <main>{{template "cards" .}}</main>

		<script src="/static/js/main.js"></script>
	</body>
</html>
{{end}}
