{{define "cards"}}
    {{if .Books}}
        {{range .Books}}
            <div class="card">
                <div class="info">
                    <span><b>Title: </b>{{.Title}}</span>
                    <span><b>Author: </b>{{.Author}}</span>
                    <span><b>Pages: </b>{{.Pages}}</span>
                </div>
                <div class="btns">
                    {{if .ReadStatus}}
                        <a href="/update/{{.ID}}"><button id="readBtn" class="read">Read</button></a>
                    {{else}}
                        <a href="/update/{{.ID}}"><button id="readBtn" class="">Not Read</button></a>
                    {{end}}
                    <a href="/delete/{{.ID}}"><button id="removeBtn">Remove</button></a>
                </div>
            </div>
        {{end}}
    {{else}}
        <div class="empty">Empty</div>
    {{end}}
{{end}}
